.profileContainer {
  padding: 3%;
  width: 75vh;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15), 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #ffffff; /* Ensure shadow visibility */
  transition: box-shadow 0.3s ease;
  display: flex;
}

.profileImg {
  border-radius: 50%;
  height: 25vh;
}

.profileTitle {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  width: 100%;
}

.profileDetails {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 25px;
}

.logoutBtn {
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 40%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  padding: 7px;
  margin: 5%;
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.logoutBtn:hover {
  background-color: red;
  color: #fff;
}
